<header>
    <a href="/"><img src="/images/matear.jpg"  alt="Logo personal"></a>
    <nav class="menu-desplegable">
        <input type="checkbox" name="burger" id="menu">
        <label class="burger" for="burger" ><i class="fas fa-bars"></i></label>
        <ul>
            <li class="header-nav-ul-li-a"><a href="#">Home</a></li>
            <li><a href="#">Quienes somos</a></li>
            <li><a href="#">Productos</a></li>
            <li><a href="#">Sucursales</a></li>
            <li><a href="#">Contactos</a></li>
            <li><a href="/session/login"><i class="far fa-user-circle"></i></a></li>
            <li>
                <a class="shopping" href="/products/productCart">
                    <i class="fas fa-shopping-cart"></i>
                    <span class="cantidad">0</span>
                </a>
            </li>
            <li>
                <div class="search">
                    <input type="search" name="" id="" placeholder="Buscar productos" ><button type="submit"><i class="fas fa-search"></i></button>
                </div>
            </li>
        </ul>
        <form class="search" action="" method="">
            <input type="search" name="" id="" placeholder="Buscar productos" ><button type="submit"><i class="fas fa-search"></i></button>
        </form>
        <ul class="icon">
        
            <li><a href="/session/login"><i class="far fa-user-circle"></i></a></li>
           
            <li><a href="/session/login"><img src="/images/Users/" class="avatar-header" alt=""></a></li>
         
            <li><a href="/products/cart"><i class="fas fa-shopping-cart"></i>
                <span class="cantidad">0</span></a></li>
        </ul>
    </nav> -->

    <header>

        <div class="movil">
   <div class="wrapper_movil">
        <a href="#" id="un"><span class="fa fa-bars bt-menu no_link"></span></a>
        <div class="logo-centrar">
          <a href="#" class="logo-movil">N&V</a>	
        </div>
        <form role="search" method="get" id="searchform" class="form_search_movil" action="">
          <div class="flex_search_movil">
            <a href="#" id="do"><span class="fa fa-arrow-left bt-menu no_link"></span></a>
            <input type="text" value="" name="s" id="s" placeholder="Buscar..." class="input_search">
            <button class="fa fa-search button_search_movil no_link"></button>
          </div>
        </form>	
        <a href="#" class="cerrar"><span class="fa fa-search phone_search no_link"></span></a>				
   </div>
    </div>

        <div class="wrapper">

   <div class="logo">
     <h2><a href="#">N&V</a></h2>
   </div>

   <div class="uno_solo">
     <nav>
       <ul>
         <li><a href="#">Item#1</a></li>
         <li><a href="#">Item#2</a></li>
         <li><a href="#">Item#3</a></li>
         <li><a href="#">Item#4</a></li>
         <li><a href="#">Item#5</a></li>
         <li><a href="#"><span class="fa fa-search show_search no_link"></span></a></li>
       </ul>
     </nav>

     <form role="search" method="get" id="searchform" class="form_search" action="">
       <div class="flex_search">
         <input type="text" value="" name="s" id="s" placeholder="Buscar..." class="input_search">
         <button class="fa fa-search button_search no_link"></button>
       </div>
     </form>					
   </div>

        </div>

  </header>
