<header>
    <div class="movil">
        <div class="wrapper_movil">
            <a href="#" id="un"><span class="fa fa-bars bt-menu no_link"></span></a>
            <div class="logo-central">
                <a href="#" class="logo-movil">N&V</a>
            </div>
            <form role="search" method="GET" id="searchform" class="form_search_movil" action="">
                <div class="flex_search_movil">
                    <a href="#" id="do"><span class="fa fa-arrow-left bt-menu no_link"></span></a>
                    <input type="text" value="" name="s" placeholder="Buscar..." class="input_search">
                    <button class="fa fa-search button_search_movil no_link" ></button>
                </div>
            </form>
        </div>
    </div>
</header>