<header>
    <a href="/" class="logo">M<img src="/images/infusion-de-mate.svg" alt="">te@r</a>

    <nav class="navbar">
        <a href="/" class="active">home</a>
        <a href="#dishes">Nosotros</a>
        <a href="/products/list">Productos</a>
        <a href="#menu">Sucursales</a>
        <a href="#review">Contacto</a>
    </nav>

    <div class="icons">
        <a href="/users/register" class="fas fa-user"></a>
        <i class="fas fa-bars" id="menu-bars"></i>
        <i class="fas fa-search" id="search-icon"></i>
        <a href="#" class="fas fa-heart"></a>
        <a href="/products/productCart" class="fas fa-shopping-cart"></a>
    </div>

</header>

<!-- header section ends -->
