<header>
    <div class="movil">
        <div class="wrapper_movil">
            <a href="#" id="un"><span class="fa fa-bars bt-menu no_link"></span></a>
            <div class="logo-central">
                <a href="#" class="logo-movil">N&V</a>
            </div>
        </div>
    </div>
</header>