    <!-- header section starts -->

    <header>
        <a href="/" class="logo"><i class="fas fa-utensils"></i>Mate@r</a>

        <nav class="navbar">
            <a href="#home" class="active">home</a>
            <a href="#dishes">Nosotros</a>
            <a href="#about">Productos</a>
            <a href="#menu">Sucursales</a>
            <a href="#review">Contacto</a>
        </nav>

        <div class="icons">
            <i class="fas fa-bars" id="menu-bars"></i>
            <i class="fas fa-search" id="search-icon"></i>
            <a href="#" class="fas fa-heart"></a>
            <a href="#" class="fas fa-shopping-cart"></a>
        </div>

    </header>

    <!-- header section ends -->