<header>
    <a href="/"><img src="/images/matear.jpg"  alt="Logo personal"></a>
    <nav class="menu-desplegable">
        <input type="checkbox" name="burger" id="menu">
        <label class="burger" for="burger" ><i class="fas fa-bars"></i></label>
        <ul>
            <li class="header-nav-ul-li-a"><a href="#">Home</a></li>
            <li><a href="#">Quienes somos</a></li>
            <li><a href="#">Productos</a></li>
            <li><a href="#">Sucursales</a></li>
            <li><a href="#">Contactos</a></li>
            <li><a href="/session/login"><i class="far fa-user-circle"></i></a></li>
            <li>
                <a class="shopping" href="/products/productCart">
                    <i class="fas fa-shopping-cart"></i>
                    <span class="cantidad">0</span>
                </a>
            </li>
            <li>
                <div class="search">
                    <input type="search" name="" id="" placeholder="Buscar productos" ><button type="submit"><i class="fas fa-search"></i></button>
                </div>
            </li>
        </ul>
        
    </nav>
</header>