<header>
    <a href="/" class="logo">M<img src="/images/infusion-de-mate.svg" alt="">te@r</a>

    <nav class="navbar">
        <a id="home" href="/" class="active">home</a>
        <a id="nosotros" href="#">Nosotros</a>
        <a id="productos" href="/products/list">Productos</a>
        <a id="sucursales" href="#">Sucursales</a>
        <a id="contacto" href="#">Contacto</a>
    </nav>

    <div class="icons">
        <% if (locals.userLogin) { %>
            <a href="#" class="fas fa-users-cog"></a>
        <% }else{ %>
        <a href="/users/login" class="fas fa-user"></a>
        <% } %> 
        <i class="fas fa-bars" id="menu-bars"></i>
        <i class="fas fa-search" id="search-icon"></i>
        <a href="#" class="fas fa-heart"></a>
        <a href="/products/productCart" class="fas fa-shopping-cart"></a>
    </div>

</header>

<!-- header section ends -->
