       <!-- search form  -->

       <form action="/search" id="search-form" >
        <input type="search" placeholder="Buscar producto..." name="busqueda" id="search-box">
        <label for="search-box" class="fas fa-search"></label>
        <i class="fas fa-times" id="close"></i>
      </form>