<!DOCTYPE html>
<html lang="es">

<!-- Include Head -->
<%- include('partials/head', {title: 'Login'}) %>

<body>

  <!-- Header -->
	<%- include('partials/header') %>
	<!-- /Header -->

    <main class="main-login">
        <div class="iniciar">
             <h1>Iniciar Sesión</h1>
            <div class="mail">
                <input type="email" name="email" placeholder="Email">            
            </div>
            <div class="password">
                <input type="password" name="passwordUsuario" placeholder="Contraseña">
                <i class="far fa-eye-slash"></i>                          
            </div>                
            <div class="recordar">
                <input type="checkbox" name="recordarContraseña">
                <label>Recordar contraseña</label>
            </div>                 
            <div class= "datosIncorrectos">        
                <span>Los datos ingresados no son correctos</span>
            </div>
            <div class="ingresar">
                <button type="submit">INGRESAR</button>
                <p>¿Olvidaste tu contraseña?</p>
            </div>
        </div>
       

        <aside>
            <div class="ingresarCon">
             <p>O Ingresá con</p>
            </div>
            <div class="facebook">
                <button type="submit"><i class="fab fa-facebook-square"></i>Facebook</button>
            </div>
             <div class="google">
                <button type="submit"><img src="https://img.icons8.com/color/48/000000/google-logo.png"/>Google</button>
            </div>
            <div class="cuentaNueva">
                <p>¿No tienes Cuenta?</p>
                <button type="submit">Crear cuenta nueva</button>
            </div>
        </aside>  


    </main>
    
 <!-- footer -->
	<%- include('partials/footer') %>
	<!-- /footer -->   
    
</body>
</html>