<!DOCTYPE html>
<html lang="es">


<!-- Include Head -->
<%- include('partials/head', {title: 'Carrito'}) %>

<body>

  <!-- Header -->
	<%- include('partials/header') %>
	<!-- /Header -->

<main>
<h2>¿QUIÉNES SOMOS?</h2>
<p>
Matear empieza como un proyecto entre tres amigos emprendedores que buscan dar a conocer la tradición del mate
Sudamericano en Argentina, así como otros productos innovadores para la región. Acompáñanos en esta travesía.</p>


</main>

<!-- footer -->
<%- include('partials/footer') %>
<!-- /footer -->
</body>
</html>