<!DOCTYPE html>
<html lang="es">

<!-- Include Head -->
<%- include('partials/head', {title: 'Nosotros'}) %>

<body>
    <%- include('partials/header') %> 

    <!--  about section starts  -->

    <section class="about" id="about">
        <h3 class="sub-heading">Nosotros</h3>
        <h1 class="heading">Queres Matear?</h1>
        <div class="row">
            <div class="image">
                <img src="/images/slide-1621546276229-6976362064-7db049b56e6e2117a47cf6c0ea28afde1621546288-1024-1024.jpeg"  alt="">
            </div>
            <div class="content">
                <h3>Quiénes somos</h3>
                <p> MateAr nace de las ganas de querer acercarle a la gente insumos característicos de la cultura Argentina, priorizando la calidad y el precio. <br>

                    Nos enfocamos en los detalles y en la atención personalizada para poder brindar un servicio cálido y eficiente. En MateAr no solo ofrecemos objetos sino también productos que conllevan historias, leyendas, buenos momentos y costumbres de nuestros pasado,presente y futuro. <br>
        
                    Es por eso que traemos una hermosa variedad de mates artesanales hechos con lo mejor, para compartir y disfrutar de los grandes momentos de la vida. <br>
                    
                    ¡Te invitamos a #MateAr! </p>
                <div class="icons-container">
                    <div class="icons">
                        <i class="fas fa-shipping-fast"></i>
                        <span>Envios</span>
                    </div>
                    <div class="icons">
                        <i class="fas fa-dollar-sign"></i>
                        <span>Precios competitivos</span>
                    </div>
                    <div class="icons">
                        <i class="fas fa-headset"></i>
                        <span>Abierto 365/año</span>
                    </div>
                </div>
                <a href="/products/list" class="btn">Productos</a>
            </div>
        </div>
    </section>

    <!--  about section ends  -->

     <!-- footer -->
	<%- include('partials/footer') %>

    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>

    <!-- custom js file link  -->
    <script src="/js/script.js"></script>

</body>
</html>