<!DOCTYPE html>
<html lang="es">

<!-- Include Head -->
<%- include('partials/head', {title: 'Nosotros'}) %>

<body>
    <%- include('partials/header') %> 

    <main>
     <div class="us">
        <div class="baner">
            <img src="/images/slide-1621546276229-6976362064-7db049b56e6e2117a47cf6c0ea28afde1621546288-1024-1024.jpeg" alt="" height="50%">
        </div>
        <section>
            <h1><s>Quiénes somos</s></h1>

         <p>   MateAr nace de las ganas de querer acercarle a la gente insumos característicos de la cultura Argentina, priorizando la calidad y el precio. <br>

            Nos enfocamos en los detalles y en la atención personalizada para poder brindar un servicio cálido y eficiente. En MateAr no solo ofrecemos objetos sino también productos que conllevan historias, leyendas, buenos momentos y costumbres de nuestros pasado,presente y futuro. <br>

            Es por eso que traemos una hermosa variedad de mates artesanales hechos con lo mejor, para compartir y disfrutar de los grandes momentos de la vida. <br>
            
            ¡Te invitamos a #MateAr!</p>
        </section>
     </div>
    </main>

     <!-- footer -->
	<%- include('partials/footer') %>
</body>
</html>