<!DOCTYPE html>
<html lang="es">


<!-- Include Head -->
<%- include('partials/head', {title: 'Carrito'}) %>

<body>

  <!-- Header -->
	<%- include('partials/header') %>
	<!-- /Header -->

    <main>
        <div class="cart">
            <div class="fila1">
            <article>
                <div class="container0">
                    <img src="/images/mate1.jpg" alt="Mate de Cuero" title="Mate de cuero">
                    <div class="like">
                        <button type="button"><i class="far fa-thumbs-up"></i>Like</button>
                    </div>
                    <div class="caja2">
                        <h4>Mate de Cuero</h4>
                        <h5>$300</h5>
                        <div class="bombilla">
                            <form action="bombilla" method="POST">
                                <form ...>

                                    <p>Opcion de Bombilla</p>
                                    <p><input type="radio" name="bombilla" value="si"/> si </p>
                                    <p><input type="radio" name="bombilla" value="no"/> no </p>
        
                                 </form>
                         </div>
                         <div class="promo">
                            <input type="checkbox" name="promo" checked>
                            <label for="promo-check">I have a promo code</label>
                        </div>
                        <div class="promo-code">
                            <input type="text" name="promo-checkbox" placeholder="Enter your promo code here" checked>
                            <button class="apply">Apply</button>
                        </div>
                        <div class="opc">
                        <button class="btn-c">
                            <span> Comprar </span>
                        </button>
                        <div class="eli">
                            <button type="reset"> <span>Eliminar</span> <i class="fas fa-trash-alt"></i>
                            </button>
                        </div>
                        </div>
                    </div>
            </article>
            <article>
                <div class="container1">
                    <img src="/images/mate-ceramico.jpg" alt="mate-ceramico" title="mate-ceramico">
                    <div class="like">
                        <button type="button"><i class="far fa-thumbs-up"></i>Like</button>
                    </div>
                    <div class="caja2">
                        <h4>Mate Ceramico</h4>
                        <h5>$230</h5>
                        <div class="bombilla">
                            <form action="bombilla" method="POST">
                                <form ...>

                                    <p>Opcion de Bombilla</p>
                                    <p><input type="radio" name="bombilla" value="si"/> si </p>
                                    <p><input type="radio" name="bombilla" value="no"/> no </p>
        
                                 </form>
                         </div>
                         <div class="promo">
                            <input type="checkbox" name="promo" checked>
                            <label for="promo-check">I have a promo code</label>
                        </div>
                        <div class="promo-code">
                            <input type="text" name="promo-checkbox" placeholder="Enter your promo code here" checked>
                            <button class="apply">Apply</button>
                        </div>
                        <div class="opc">
                            <button class="btn-c">
                                <span> Comprar </span>
                            </button>
                            <div class="eli">
                                <button type="reset"> <span>Eliminar</span> <i class="fas fa-trash-alt"></i>
                                </button>
                            </div>
                            </div>
                        </div>
            </article>
            </div>
        
        <div class="fila2">
            <article>
                <div class="container2">
                    <img src="/images/destacado-mate-home.jpg" alt="mate-home" title="mate-home">
                    <div class="like">
                        <button type="button"><i class="far fa-thumbs-up"></i>Like</button>
                    </div>
                    <div class="caja2">
                        <h4>Mate Home</h4>
                        <h5>$200</h5>
                        <div class="bombilla">
                            <form action="bombilla" method="POST">
                                <form ...>

                                    <p>Opcion de Bombilla</p>
                                    <p><input type="radio" name="bombilla" value="si"/> si </p>
                                    <p><input type="radio" name="bombilla" value="no"/> no </p>
        
                                 </form>
                         </div>
                         <div class="promo">
                            <input type="checkbox" name="promo" checked>
                            <label for="promo-check">I have a promo code</label>
                        </div>
                        <div class="promo-code">
                            <input type="text" name="promo-checkbox" placeholder="Enter your promo code here" checked>
                            <button class="apply">Apply</button>
                        </div>
                        <div class="opc">
                            <button class="btn-c">
                                <span> Comprar </span>
                            </button>

                            <div class="eli">
                                <button type="reset"> <span>Eliminar</span> <i class="fas fa-trash-alt"></i>
                                </button>
                            </div>
                            </div>
                        </div>
            </article>
            <article>
                <div class="container3">
                    <img src="/images/ceramico-galaxia.jpg" alt="mate-galaxia" title="mate-galaxia">
                    <div class="like">
                        <button type="button"><i class="far fa-thumbs-up"></i>Like</button>
                    </div>
                    <div class="caja2">
                        <h4>Mate Galaxia</h4>
                        <h5>$300</h5>
                        <div class="bombilla">
                            <form action="bombilla" method="POST">
                                <form ...>

                                    <p>Opcion de Bombilla</p>
                                    <p><input type="radio" name="bombilla" value="si"/> si </p>
                                    <p><input type="radio" name="bombilla" value="no"/> no </p>
        
                                 </form>
                         </div>
                         <div class="promo">
                            <input type="checkbox" name="promo" checked>
                            <label for="promo-check">I have a promo code</label>
                        </div>
                        <div class="promo-code">
                            <input type="text" name="promo-checkbox" placeholder="Enter your promo code here" checked>
                            <button class="apply">Apply</button>
                        </div>
                        <div class="opc">
                            <button class="btn-c">
                                <span> Comprar </span>
                            </button>

                            <div class="eli">
                                <button type="reset"> <span>Eliminar</span> <i class="fas fa-trash-alt"></i>
                                </button>
                            </div>
                            </div>
                        </div>
            </article>
        </div>

        </div>
      
        <div class="Whatsapp">
            <button type="button"><i class="fab fa-whatsapp"></i> <title>Whatsapp</title></button>
        </div>

        
    </main>

    <!-- footer -->
	<%- include('partials/footer') %>
	<!-- /footer -->

</html>