
/* Body */

body.home{
    width: 95vw;
    margin-left: auto;
    margin-right: auto;
    background-color:#ebebeb;
}

/* Header */

.home header {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    background-color: #fff;
    margin-bottom: 0;
}

.home header nav {
    margin-top: 15px;
    width: 100%;
    display: flex;
}

img{
    width: 100%;
}

.home header nav.menu-home ul{
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 10px;
}

.home header nav ul li:first-child {
    border-right: 1px solid #000;
    padding: 0px 10px;
}

.home header nav ul li:last-child{
    padding: 0px 10px;
}

.home header nav.menu-home ul li, .home header nav.menu-desplegable ul li, .home header nav.menu-desplegable .shopping .cantidad{
    font-weight: bold;
    text-transform: uppercase;
}

.home header div.search{
    margin: 20px 0;
}

.home header div.search input {
    border-radius: 6px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    height: 45px;
    width: 70%;
    padding: 10px;
    border: 1px solid #c4c4c4;
}

.home header div.search button {
    border-radius: 6px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    height: 45px;
    padding: 10px 25px;
    margin: 0;
    border: 1px solid #c4c4c4;
    background-color: black;
    color: white;
}

.home header nav.menu-desplegable{
    width: 100%;
    background-color: #000;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    font-size: 1.5em;
    margin-top: 0;
}

.home header nav.menu-desplegable .shopping, .home header nav.menu-desplegable .burger-menu, .home header nav.menu-desplegable .burger-menu ul li a{
    color: white;
}

.home header nav.menu-desplegable ul li {

    background-color: #000;
    border: 1px solid #fff;
    text-align: center;
    padding: 20px;
  
}

.home header nav.menu-desplegable .burger-menu ul{
    display: none;
    position: absolute;
    margin-top: 20px;
    width: 95vw;
    height: 100vh;
    left: 2.5%;
    z-index: 1;
    transition: all .5s ease;
}

.home header nav.menu-desplegable .burger-menu input {
    display: none;
}

.home header nav.menu-desplegable .burger-menu input:checked ~ ul{
    display: block;
}

.home header nav.menu-desplegable div.burger-menu ul li:hover {
    background-color:rgba(255, 255, 255, 0.8);
}


/* Main */

.home-main {
    margin-top: 0;
    background-color: #fff;
}

.main-home section article.cuerpo {
    width: 100%;
    background-image: url('catalogo-mate-home.jpg');
    margin-top: 10px;
    position: relative;
    display: flex;
    align-items: center;
}

.main-home section article.cuerpo h2{
    position: absolute;
    width: 100%;
    font-size: 4em;
    text-transform: uppercase;
    background-color: rgba(255, 255, 255, 0.4);
    text-align: center;
}

/* Footer */

footer.home{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid gray;
    background-color: #fff;
    padding: 10px;
    margin-top: 5px;
}

footer.home section article {
    text-align: center;
    padding-top: 15px;
    padding: 10px;
}

footer.home section article {
    font-size: 1em;
    color: #666;
}

footer.home section article div.icon-footer  {
    font-size: 2em;
    color: #1259c3;
}

footer.home section article div.suscripcion {
    width: 100%;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    font-size: 1.5em;
}

footer.home section article div.suscripcion input {
    border-radius: 6px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    height: 45px;
    padding: 10px;
    margin: 0px;
    border: 1px solid #c4c4c4;
}

footer.home section article div.suscripcion button {
    border-radius: 6px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    height: 45px;
    padding: 10px 25px;
    margin: 0px;
    border: 1px solid #c4c4c4;
    background-color: black;
    color: white;
}

footer.home section article nav.icon-footer-redes a{
    font-size: 2em;
    color: #1259c3;
    margin-right: 5px;
}




