
.body-login{
    background-color: #000000;
    font-family: var(--font-family);
    margin: 40px 20px;
}
.main-login{
    background-color: #ffffff;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    position: relative;
    margin: 40px 10%;
    align-items: center;
    color: #000000;
}
main .iniciar{
    display: block;
    flex-wrap: wrap;
    justify-content: center;    
    width: 100%;
}

main h1{    
    display: flex;
    justify-content: center;  
    font-size: 6vw;
}

.mail{
    display: flex;
    justify-content: center;
    margin-bottom: 3%;
}

.mail input{    
    border: solid 1px #000000;
    height: 100%;
    width: 34vw;
    font-size: 4vw;
}

.password{
    display: flex;    
    justify-content: center;

}

.password input{
    border: solid 1px #000000;
    width: 30vw;
    height: 100%;
    font-size: 4vw;
}

.password i{
    outline: solid 1px #000000;
    background-color: #ffffff;
    width: 4vw;
    font-size: 3.5vw;
    display: flex;
    align-items: center;
}        
.recordar{
    padding-right: 17%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}                        
        
.recordar label{
    font-size: 3vw;
}

.datosIncorrectos p{
    color: #ff0000;
    font-size: 3vw;
    text-align: center;
    font-weight: 600;
    margin-bottom: 10px;  
}

.ingresar{
    display: flex;
    flex-direction: column;
    align-items: center;    
}

.ingresar button{
    color: #ffffff;
    background-color: #000000;
    height: 100%;
    width: 31vw;
    font-size: 4vw;
    font-weight: 600;
}

.ingresar p{
    font-style: italic;
    font-size: 4vw;
    font-weight: 600;
    margin-bottom: 0;
    margin-top: 5px;
}

.ingresarCon p{
    font-style: italic;
    font-size: 3.5vw;
    font-weight: 600;
    margin: 5px;
}

.facebook{
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}
           
.facebook button{    
    color: #ffffff;
    background-color: #131385;
    border-color: #131385;
    width: 31vw;
    height: 100%;
    font-size: 4vw;
    font-weight: bold;
}      

.fab, .far{
    padding-right: 10px;
}

.google{
    display: flex;
    justify-content: center;
}

.google button{    
    font-size: 4vw;
    font-weight: bold;
    display: flex;
    align-items: center;
    width: 31vw;
    height: 100%;
    background-color: #ffffff;
}
.google button img{
    width: 5vw;
    margin-right: 10px;

}
.cuentaNueva{
    display: flex;
    flex-direction: column;
    align-items: center;    
}

.cuentaNueva p{
    text-align: center;
    margin-bottom: 3px;    
    font-size: 4vw;
    font-weight: 600;
}

.cuentaNueva button{    
    color: #ffffff;
    background-color: #640f8b;
    width: 31vw;    
    font-size: 3.5vw;
    font-weight: bold;
    margin-bottom: 35px;
}

/* Tablet*/

@media (min-width: 768px) {
    .main-login{
        background-color: white;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        margin: 40px 5%;
        align-items: center;
        width: 90%;
    }
    
    main .iniciar{           
        width: 50%;
    }
    main h1{             
        font-size: 4.5vw;
    }
        
    .mail input{    
        
        width: 25vw;
        font-size: 3vw;
    }
            
    .password input{        
        width: 19vw;       
        font-size: 3vw;
    }
        
    .recordar label{
        font-size: 2vw;
    }
    
    .datosIncorrectos p{        
        font-size: 2vw;       
        margin-top: 5px;  
    }
    
    .ingresar{
        display: flex;
        flex-direction: column;
        align-items: center;    
    }
    
    .ingresar button{
        width: 25vw;
        font-size: 3.5vw;
        font-weight: 600;
    }
       
    .ingresar p{        
        font-size: 2vw;   
        margin-bottom: 30px;     
    }

    /*Aside*/

    main aside{
       margin-top: 58px;
       width: 40%;
    }

    .ingresarCon p{        
        font-size: 2.5vw; 
        margin-top: 30px;       
    }

    .facebook button{           
        width: 21vw;        
        font-size: 2.5vw;       
    }      
        
    .google button{    
        font-size: 2.5vw;        
        width: 21vw;        
    }

    .google button img{
        width: 3vw;
        margin: 1px  10px;
    
    }
        
    .cuentaNueva p{        
        margin: 10px 0 0;    
        font-size: 2.5vw;        
    }
    
    .cuentaNueva button{    
        width: 21vw;    
        font-size: 2.1vw;
        height: 8vh;        
    }    
}



@media (min-width: 1024px) {
    main h1{         
    font-size: 3.5vw;
    }
    .mail input{              
        width: 20vw;
        font-size: 2.5vw;
    }
            
    .password input{        
        width: 17vw;       
        font-size: 2.5vw;
    }
    .password i{
        width: 3vw;
        font-size: 1.7vw;        
    }
        
    .recordar label{
        font-size: 1.6vw;
    }

    .datosIncorrectos p{        
        font-size: 2vw;       
        margin-top: 5px;  
    }

    .ingresar{
        display: flex;
        flex-direction: column;
        align-items: center;    
    }

    .ingresar button{
        width: 25vw;
        font-size: 3.5vw;
        font-weight: 600;
    }
    
    .ingresar p{        
        font-size: 2vw;   
        margin-bottom: 30px;     
    }

    /*Aside*/

    main aside{
    margin-top: 58px;
    width: 40%;
    }

    .ingresarCon p{        
        font-size: 2.5vw; 
        margin-top: 30px;       
    }

    .facebook button{           
        width: 21vw;        
        font-size: 2.5vw;       
    }      
        
    .google button{    
        font-size: 2.5vw;        
        width: 21vw;        
    }

    .google button img{
        width: 3vw;
        margin: 1px  10px;

    }
        
    .cuentaNueva p{        
        margin: 10px 0 0;    
        font-size: 2.5vw;        
    }

    .cuentaNueva button{    
        width: 21vw;    
        font-size: 2.1vw;
        height: 8vh;        
    }    
}       

