header{
    color: white;
}

.body-login{
    background-color: black;
    font-family: var(--font-family);
    margin: 40px 20px;
}
.main-login{
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    position: relative;
    margin: 40px 10%;
    align-items: center;
}
main .iniciar{
    display: block;
    flex-wrap: wrap;
    justify-content: center;    
    width: 100%;
}

main h1{    
    display: flex;
    justify-content: center;  
    font-size: 8vw;
}
.mail{
    display: flex;
    justify-content: center;
    margin-bottom: 3%;
}

.mail input{    
    border: solid 1px #000000;
    height: 100%;
    width: 36vw;
    font-size: 5vw;
}

.password{
    display: flex;
    
    justify-content: center;

}

.password input{
    border: solid 1px #000000;
    width: 30vw;
    height: 100%;
    font-size: 5vw;
}

.password i{
    outline: solid 1px #000000;
    background-color: #ffffff;
    width: 4vw;
    font-size: 3.5vw;
    display: flex;
    align-items: center;
    padding: 0 8px;
}        
.recordar{
    padding-right: 17%;
    display: flex;
    justify-content: flex-end;
    font-size: 1rem;
}                        
        
.recordar label{
    font-size: 3vw;
}

.datosIncorrectos p{
    color: #ff0000;
    font-size: 3vw;
    text-align: center;
    font-weight: 600;
    margin-top: 10px;  
}

.ingresar{
    display: flex;
    flex-direction: column;
    align-items: center;    
}

.ingresar button{
    color: #ffffff;
    background-color: #000000;
    height: 100%;
    width: 31vw;
    font-size: 4vw;
    font-weight: 600;
}

.ingresar p{
    font-style: italic;
    font-size: 4vw;
    font-weight: 600;
    margin-bottom: 0;
    margin-top: 5px;
}

.ingresarCon p{
    font-style: italic;
    font-size: 3.5vw;
    font-weight: 600;
    margin: 5px;
}

.facebook{
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}
           
.facebook button{    
    color: #ffffff;
    background-color: #131385;
    border-color: #131385;
    width: 31vw;
    height: 100%;
    font-size: 4vw;
    font-weight: bold;

}      

.fab, .far{
    padding-right: 10px;
}

.google{
    display: flex;
    justify-content: center;
}
.google button{    
    font-size: 4vw;
    font-weight: bold;
    display: flex;
    align-items: center;
    width: 31vw;
    height: 100%;
    background-color: #ffffff;
}
.google button img{
    width: 5vw;
    margin-right: 10px;

}
.cuentaNueva{
    display: flex;
    flex-direction: column;
    align-items: center;    
}

.cuentaNueva p{
    text-align: center;
    margin-bottom: 3px;    
    font-size: 4vw;
    font-weight: 600;
}

.cuentaNueva button{    
    color: #ffffff;
    background-color: #640f8b;
    width: 31vw;    
    font-size: 3.5vw;
    font-weight: bold;
    margin-bottom: 35px;
}

/* Tablet*/

@media (min-width: 768px) {
    
    main .iniciar{           
        width: 50%;
    }
    main aside{
        margin-top: 58px;
        width: 50%;
    }
    .ingresar p{
        font-style: italic;
        font-size: medium;
        font-weight: 600;
        margin-bottom: 30px
    }
    .ingresarCon p{
        font-style: italic;
        font-size: initial;
        font-weight: 600;
    }


    
}


