header{
    color: white;
}

.body-login{
    background-color: black;
    font-family: var(--font-family);
    margin: 40px 20px;
}
.main-login{
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    position: relative;
    margin: 40px 13%;
    align-items: center;
}
main .iniciar{
    display: block;
    flex-wrap: wrap;
    justify-content: center;    
    width: 100%;
}

main h1{
    padding-top: 20px;
    display: flex;
    justify-content: center;  
}
.mail{
    display: flex;
    justify-content: center;
    margin-bottom: 3%;

}

.mail input{    
    border: solid 1px black;
    height: 20px;
    font-size: 16px;
}

.password{
    display: flex;
    justify-content: center;
}

.password input{
    border: solid 1px black;
    width: 165px;
    height:20px;
    font-size: 1rem;
}

.password i{
    outline: solid 1px black;
    background-color: white;
    
}        
.recordar{
    padding-right: 17%;
    display: flex;
    justify-content: flex-end;
    font-size: 1rem;
}                        
        
.recordar label{
    font-size: .9rem;

}

.datosIncorrectos p{
    color: red;
    font-size: 0.9rem;
    text-align: center;
    font-weight: 600;
    margin-top: 10px;  
}

.ingresar{
    display: grid;
    justify-content: center;
    
}
.ingresar button{
    color: white;
    background-color: black;
    height: 30px;

}
.ingresar p{
    font-style: italic;
    font-size: medium;
    font-weight: 600;
    margin-bottom: 0
}

.ingresarCon p{
    font-style: italic;
    font-size: small;
    font-weight: 600;
}


.facebook{
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}
           
.facebook button{
    color: white;
    background-color: #131385;    
    border-color: #131385;
    width: 171px;
    height: 30px;
    font-size: 1rem;
    font-weight: bold;
    display: flex;
    justify-content: center;
}      

.fab, .far{
    padding-right: 10px;
}

.google{
    display: flex;
    justify-content: center;
}
.google button{    
    font-size: 1.1rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 171px;
    height: 30px;
    background-color: #ffffff

}
.google button img{
    width: 25px;

}
.cuentaNueva{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.cuentaNueva p{
    text-align: center;
    margin-bottom: 3px;
    font: weight 600px;
}
.cuentaNueva button{    
    color: #ffffff;
    background-color: #640f8b;
    width: 171px;
    height: 30px;
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 35px;
}

/* Tablet*/

@media (min-width: 768px) {
    
    main .iniciar{           
        width: 50%;
    }
    main aside{
        margin-top: 58px;
    }
    .ingresar p{
        font-style: italic;
        font-size: medium;
        font-weight: 600;
        margin-bottom: 30px
    }
    .ingresarCon p{
        font-style: italic;
        font-size: initial;
        font-weight: 600;
    }

    
}


