<<<<<<< HEAD
/*.cart*/
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

:root{
    font-family: 'Indie Flower', cursive;
}
.cart {
   font-family:var(--font-family);
  background-color: #43cbe0b8;
    color: black;
=======

body main{
    background-color:#43cbe0b8;
    font-family:var(--font-family);
}
main .carrito{
    margin:0 auto;
>>>>>>> 4da234daef528eeb94396938dc4bc8725cfbe4f9
    padding: 10px;
    background-size: 22px;
}
.cart img{
    width: 80%;
    border: solid 1px white;
}
.cart .like{
    text-align:right;
    padding-right:10px;
}
.cart .like i{
     color:#157ee5;
}
.cart .like button{
    background-color:white;
    color:#157ee5;
}
.cart .container0{
    display: block;
    text-align: center;
    border: solid 3px pink;
    padding: 10px;
    margin: 15px;
}
.cart .container1{
    display: block;
    text-align: center;
    border: solid 3px pink;
    padding: 10px;
    margin: 15px;
}
.cart .container2{
    display: block;
    text-align: center;
    border: solid 3px pink;
    padding: 10px;
    margin: 15px;
}
.cart .container3{
    display: block;
    text-align: center;
    border: solid 3px pink;
    padding: 10px;
    margin: 15px;
}
.cart .container4{
    display: block;
    text-align: center;
    border: solid 3px pink;
    padding: 10px;
    margin: 15px;
}
.cart .opc{
    display: flex;
    justify-content: space-evenly;
    margin: 10px;
}
@media (min-width:481px){

.cart .fila1{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
}
.cart .fila2{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
}
.cart .fila3{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
}
.cart .container2 img{
    width:54%;
}
}
@media (min-width:900px){
    .cart{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-content: space-around;
        justify-content: space-between;
        align-items: flex-start;
    }
}