header{
    color: white;
}

.body-register{
    background-color: black;
    font-family: var(--font-family);
    margin: 40px 20px;
}
.main-register{
    background-color: white;
    position: relative;
    margin: 1px 3%;
    align-items: center;
    width: 80%;
}

.registrate-con h2{
    padding-top: 20px;
    display: flex;
    margin-left: 20px;
    font-size: 5vw;
    margin-bottom: 5px;
}

main .redes{    
    display: flex;
    justify-content: space-evenly;
}

main .redes .google button{
    width: 28vw;
    display: flex;
    align-items: center;
    background-color: #ffffff;
    font-size: 4vw;
    height: 100%;
    border-color: darkslategrey;
}
main .redes .google button img{
    height: 4.5vh;
    margin-right: .5vw;
}
main .redes .facebook button{
    color: white;
    background-color: #131385;    
    border-color: #131385;
    height: 100%;
    width: 28vw;
    font-size: 4vw;
}
main .redes .facebook i{
    margin-right: 5px;
}

main .completa{
    font-size: 5vw;
    margin-bottom: 0px;
    margin-top: 0px;
    padding-top: 15px;
    text-align: center;
}

main form{
    display: block;
}
main form .datos{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    font-size: 3.5vw;
}
.linea1{
    display: flex;
    justify-content: space-around;
    width: 100%;
}
.linea1 .nombre{
    display: flex;    
    flex-direction: column;
    
}
.linea1 .nombre input{
    width: 25vw;
}

.linea1 .apellido{
    display: flex;    
    flex-direction: column;    
}
.linea1 .apellido input{
    width: 25vw;
}

.linea2{   
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    width: 100%;
    
}
.linea2 .genero{
    display: flex;    
    flex-direction: column;
}
  .linea2 .genero select{
    width: 25vw;
    height: 3.5vh;
    font-size: 11px;
}

.linea2 .nacimiento{
    display: flex;
    flex-direction: column;         
}
.nacimiento label{
    font-size: 3vw
}
.linea2 .nacimiento input{
    width: 25vw;
}

.linea3{
    display: flex;
    justify-content: space-around;
    width: 100%;
}


.linea3 .email{
    display: flex;
    flex-direction: column;       
}

.linea3 .email input{
    width: 25vw;
}

.linea3 .telefono{
    display: flex;
    flex-direction: column;
    font-size: 3.5vw;       
}
.linea3 .telefono input{
    width: 25vw;
}

.linea4{
    display: flex;    
    flex-direction: column;
    width: 100%;    
    text-align: center;
}

.linea4 .password{
    display: flex;
    flex-direction: column;
    align-items: center;   
}

.linea4 .pass{
    display: flex;
    justify-content: center;    
}
.linea4 .pass input{
    width: 25vw;
}
.linea4 i{
    width: 20px;
    outline: solid 1px #000000;
    background-color: #ffffff;
}

.linea4 p{
    font-size: 2.5vw;
    color: rgb(46, 53, 53);
    margin: 2px;
}

.linea4 .repetirPass{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.linea4 .repetirPass input{
    width: 25vw;
}
.linea4 .repeat{
    display: flex;
    justify-content: center;    
}

.crear{
    display: flex;
    justify-content: center;
    width: 100%;
}

.crear button{
    color: white;
    background-color: black;
    height: 6.5vh;
    margin-bottom: 20px;
    width: 30vw;
    font-size: 3vw;
    font-weight: 700;
    border-color: aqua;
}
/* Tablet*/

@media (min-width: 768px){  
    
    .registrate-con h2{        
        font-size: 3.5vw;        
    }
    
    main .redes .google button{
        width: 28vw;        
        font-size: 3.5vw;
        height: 100%;        
    }
    main .redes .google button img{
        height: 6vh;
        margin-right: 2vw;
    }
    main .redes .facebook button{
        height: 100%;
        width: 28vw;
        font-size: 3.5vw;
    }
    main .redes .facebook i{
        margin-right: 2vw;
    }
    
    main form .datos{
        font-size: 2.5vw;
    } 
    main .completa{
        font-size: 3.5vw;
    }
    
    .linea1 .nombre input{
        width: 25vw;
        height: 3.5vh;
    }
    
    .linea1 .apellido input{
        width: 25vw;
        height: 3.5vh;
    }
    
    .linea2 .genero select{
        width: 26vw;
        height: 4.5vh;
        font-size: 11px;
    }
    
    .nacimiento label{
        font-size: 2.5vw
    }
    .linea2 .nacimiento input{
        width: 25vw;
        height: 4vh;
    }
      
    .linea3 .email input{
        width: 25vw;
        height: 3.5vh;
    }
    
    .linea3 .telefono{        
        font-size: 2.3vw;          
    }

    .linea3 .telefono input{
        width: 25vw;
        height: 3.5vh;
    }
    
    .linea4{
        display: flex;    
        flex-direction: row;
        width: 100%;    
        align-items: baseline;
        justify-content: space-around;
        text-align: center;
    }
       
    .linea4 .pass input{
        width: 24vw;
        height: 3.5vh;
    }
    .linea4 i{
        width: 27px;
        height: 4.4vh;
    }
    
    .linea4 p{
        font-size: 1.4vw;
        margin-top: 7px;       
    }
    
   .linea4 .repetirPass input{
        width: 24vw;
        height: 3.5vh;
    }
    
    .crear{
        margin: 20px 0 20px;
    }
    
    .crear button{
        height: 100%;        
        width: 33vw;        
    }

}
/* Desktop*/
@media (min-width: 1024px) {
    
}
