<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <script src="https://kit.fontawesome.com/c38f1a45d0.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body class="home">
    <header>
        <img src="matear.png" width="200px" alt="Logo personal">
        <nav>
            <ul>
                <li><a href="register.html">Registrarse</a></a></li>
                <li><a href="login">Iniciar Session</a></li>
            </ul>
        </nav>
        <input type="search" name="" id="" placeholder="Buscar productos" >
        <i class="fas fa-search"></i>
        <div class="burger-menu">
            <i class="fas fa-bars"></i>
        </div>
        <a class="shopping" href="#">
            <i class="fas fa-shopping-cart"></i>
            <span class="cantidad">0</span>
        </a>
    </header>
    <main>
        <section>
            <article>
                <img src="slide-mate-home.jpg" width="400" alt="Slide de fotos de mates.">
            </article>
            <article>
                <img src="destacado-mate-home.jpg" width="400" alt="Productos destacados">
            </article>
            <article>
                <img src="catalogo-mate-home.jpg" width="400" alt="Catalogo de productos">
            </article>
        </section>
    </main>
    <footer>
        <h2>Metodos de Pagos</h2>
        <input type="email" name="" id="">
        <button type="submit" value="">Suscribirse</button>
        <h2>Redes Sociales</h2>
        <h2>Contacto</h2>
        <h3>matear@matear.com</h3>
    </footer>    
    
</body>
</html>