<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/4660c56b26.js" crossorigin="anonymous"></script>
    <title>Login</title>
</head>
<body>
    <header>

    </header>

    <main>
        <h1>Bienvenido a MateAr</h1>
        <div class="mail">
            <input type="email" name="email" placeholder="Email">            
        </div>
        <div class="password">
            <input type="password" name="passwordUsuario" placeholder="Contraseña"><i class="far fa-eye-slash"></i>            
        </div>
            <p>¿Olvidaste tu contraseña?</p>
        </div>
        <div>        
            <p>Los datos ingresados no son correctos</p>
        </div>
        <div class="ingresar">
            <button type="submit">INGRESAR</button>
        </div>
        <div>
            <p>O INGRESAR CON</p>
        </div>
        <div class="facebook">
            <button type="submit">Facebook</button>
        </div>
        <div class="google">
            <button type="submit">Google</button>
        </div>
        <div>
            <p>¿No tienes Cuenta?</p>
        </div>
        <div class="cuentaNueva">
            <button type="submit">Crear cuenta nueva</button>
        </div>


    </main>
    
</body>
</html>