<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/4660c56b26.js" crossorigin="anonymous"></script>
    <a href="https://icons8.com/icon/17949/google"></a>    
    <link rel="stylesheet" href="/css/styles.css">
    <title>Login</title>
</head>
<body class="body-login">
    <header>
        <div class="logo-cuenta-search">
            <img src="/images/matear.jpg"  alt="Logo personal">
            <div class="cuenta-search">  
                <nav class="menu-home">
                    <ul>
                        <li><a href="/register">Registrarse</a></a></li>
                        <li><a href="/login">Iniciar Sección</a></li>
                    </ul>
                </nav>
                <div class="search">
                    <input type="search" name="" id="" placeholder="Buscar productos" ><button type="submit"><i class="fas fa-search"></i></button>
                </div>
            </div>
        </div> 
        <nav class="menu-desplegable">
            <input type="checkbox" name="burger" id="menu">
            <label class="burger" for="burger" ><i class="fas fa-bars"></i></label>
            <a class="shopping" href="#">
                <i class="fas fa-shopping-cart"></i>
                <span class="cantidad">0</span>
            </a>
            <ul>
                <li class="header-nav-ul-li-a"><a href="#">Home</a></li>
                <li><a href="#">Quienes somos</a></li>
                <li><a href="#">Productos</a></li>
                <li><a href="#">Sucursales</a></li>
                <li><a href="#">Contactos</a></li>
            </ul>
        </nav>
    </header>
    <main class="main-login">
        <div class="iniciar">
             <h1>Iniciar Sesión</h1>
            <div class="mail">
                <input type="email" name="email" placeholder="Email">            
            </div>
            <div class="password">
                <input type="password" name="passwordUsuario" placeholder="Contraseña">
                <i class="far fa-eye-slash"></i>                          
            </div>                
            <div class="recordar">
                <input type="checkbox" name="recordarContraseña">
                <label>Recordar contraseña</label>
            </div>                 
            <div class= "datosIncorrectos">        
                <span>Los datos ingresados no son correctos</span>
            </div>
            <div class="ingresar">
                <button type="submit">INGRESAR</button>
                <p>¿Olvidaste tu contraseña?</p>
            </div>
        </div>
       

        <aside>
            <div class="ingresarCon">
             <p>O Ingresá con</p>
            </div>
            <div class="facebook">
                <button type="submit"><i class="fab fa-facebook-square"></i>Facebook</button>
            </div>
             <div class="google">
                <button type="submit"><img src="https://img.icons8.com/color/48/000000/google-logo.png"/>Google</button>
            </div>
            <div class="cuentaNueva">
                <p>¿No tienes Cuenta?</p>
                <button type="submit">Crear cuenta nueva</button>
            </div>
        </aside>
        
        <footer>
            <section>
                <Article>
                    <div class="icon-footer"><i class="fas fa-credit-card"></i><i class="fab fa-cc-visa"></i><i class="fab fa-cc-mastercard"></i><i class="fab fa-cc-amex"></i></div>
                    <h4>Pagà con tarjeta o en efectivo</h4>
                    <p>En MateAR, podes pagar con tarjeta o efectivo. ¡Y siempre es seguro!</p>
                </Article>
            </section>
            <section>
                <article>
                    <div class="icon-footer"><i class="fas fa-shopping-basket"></i></div>
                    <h4>Servicio de Envìos.</h4>
                    <p>Envios a cualquier parte del pais.
                    </p>
                </article>
            </section>
            <section>
                <article>
                    <div class="icon-footer"><i class="fas fa-user-shield"></i></div>
                    <h4>Seguridad, ante todo.</h4>
                    <p>Compra segura y protegida.
                    </p>
                </article>
            </section>
            <section>
                <article>
                    <div class="suscripcion">
                        <input type="search" name="" id="" placeholder="Escribe tu email" >
                        <button type="submit">Suscribete</button>
                    </div>
                </article>
            </section>
            <section>
                <article>
                    <nav class="icon-footer-redes">
                        <a href=""><i class="fab fa-twitter"></i></a>
                        <a href=""><i class="fab fa-facebook-square"></i></a>
                        <a href=""><i class="fab fa-spotify"></i></a>
                        <a href=""><i class="fab fa-apple"></i></a>
                    </nav>
                </article>
            </section>
            <section>
                <article class="copyright"> 
                    <p>Copyright &copy;  2021 MateAR.</p>
                </article>
            </section>
        </footer>    


    </main>
    
    <footer class="home">
        <section>
            <Article>
                <div class="icon-footer"><i class="fas fa-credit-card"></i><i class="fab fa-cc-visa"></i><i class="fab fa-cc-mastercard"></i><i class="fab fa-cc-amex"></i></div>
                <h4>Pagà con tarjeta o en efectivo</h4>
                <p>En MateAR, podes pagar con tarjeta o efectivo. ¡Y siempre es seguro!</p>
            </Article>
        </section>
        <section>
            <article>
                <div class="icon-footer"><i class="fas fa-shopping-basket"></i></div>
                <h4>Servicio de Envìos.</h4>
                <p>Envios a cualquier parte del pais.
                </p>
            </article>
        </section>
        <section>
            <article>
                <div class="icon-footer"><i class="fas fa-user-shield"></i></div>
                <h4>Seguridad, ante todo.</h4>
                <p>Compra segura y protegida.
                </p>
            </article>
        </section>
        <section>
            <article>
                <div class="suscripcion">
                    <input type="search" name="" id="" placeholder="Escribe tu email" >
                    <button type="submit">Suscribete</button>
                </div>
            </article>
        </section>
        <section>
            <article>
                <nav class="icon-footer-redes">
                    <a href=""><i class="fab fa-twitter"></i></a>
                    <a href=""><i class="fab fa-facebook-square"></i></a>
                    <a href=""><i class="fab fa-spotify"></i></a>
                    <a href=""><i class="fab fa-apple"></i></a>
                </nav>
            </article>
        </section>
        <section>
            <article class="copyright"> 
                <p>Copyright &copy;  2021 MateAR.</p>
            </article>
        </section>
    </footer>   
    
</body>
</html>