<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalle del producto</title>
</head>
<body>
    <main>
        <article>
            <h1>Mate calabaza.</h1>
            <div>
                <img src="/images/83d662_f411014f30e54c75ad8e82a704988b16_mv2.jpg" alt="">
                <div><h3>$750</h3></div>
                <div><h3>Mate de calabaza artezanl</h3></div>
                <div><h4>$1000</h4></div>
                <div><h4> <del>OFERTA: 25% de descuento</del></h4></div>
                <div><p>Mate de calabaza Imperial importada desde Uruguay. Es trabajado artesanalmente mediante un proceso de recubrimiento en piel para luego ser sellado con una virola de alpaca cincelada. Todos los materiales así como el proceso de producción son sumamente detallados. Ideal para hacerte de un producto que te va a durar toda la vida.</p></div>
                <div></div>
            </div>
        </article>
    </main>
</body>
</html>