<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/productDetail.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/footer.css">
    <script src="https://kit.fontawesome.com/4660c56b26.js"></script>
    <title>productDetail</title>
</head>
<body class="home">
    <header>
        <div class="logo-cuenta-search">
            <img src="matear.png"  alt="Logo personal">
          <div class="cuenta-search">  
              <nav class="menu-home">
                  <ul>
                      <li><a href="/register">Crear cuenta</a></a></li>
                      <li><a href="/login">Iniciar Session</a></li>
                  </ul>
              </nav>
              <div class="search">
                  <input type="search" name="" id="" placeholder="Buscar productos" ><button type="submit"><i class="fas fa-search"></i></button>
                </div>
            </div>
          </div>
          <nav class="menu-desplegable">
              <div class="burger-menu">
                  <input type="checkbox" name="" id="menu">
                  <label for="menu"><i class="fas fa-bars"></i></label>
                  <ul>
                      <li><a href="/">Home</a></li>
                      <li><a href="/login">Iniciar Session</a></li>
                      <li><a href="/register">Crear cuenta</a></li>
                      <li><a href="/productcart">Carrito de compras</a></li>
                      <li><a href="/productdetail">Detalles de Productos</a></li>
                  </ul>
              </div>
              <a class="shopping" href="#">
                  <i class="fas fa-shopping-cart"></i>
                  <span class="cantidad">0</span>
              </a>
          </nav>
      </header>
      <main class="main-pd">
        <article>
            <div class="menu">
                 <div class="contenedor">
                    <div class="box">
                        <div class="oferta"><h4>OFERTA: 25% de descuento</h4></div>
                       </div>
                    <div class="producto"><img src="/images/83d662_f411014f30e54c75ad8e82a704988b16_mv2.jpg" alt=""></div>
                    <div class="caja">
                      <div class="price">
                        <div class="descuento"><h4><del>$1000</del></h4></div>
                        <div class="precio"><h3>$750</h3></div>
                      </div>
                        <div class="mate"><h3>Mate de calabaza artesanal</h3></div>
                        <div class="off">
                        <div class="color">
                           <p>Elegir color:</p>
                            <input type="radio" name="color" id="color" value="Negro"> 
                             <div class="negro"><label for="negro">Negro</label></div>
                            <input type="radio" name="color" id="color" value="Cafe" >
                            <div class="cafe"><label for="cafe">Cafa</label></div>
                            <input type="radio" name="color" id="color" value="Naranja">
                            <div class="naranja"><label for="naranja">Naranja</label></div>
                        </div>
                        </div>
                    </div>
                    <div class="botón"><button>Comprar</button></div>
                     <div class="detalle">
                        <div class="info-product">
                            <p>Mate de calabaza Imperial importada desde Uruguay. Es trabajado artesanalmente mediante un proceso de recubrimiento en piel para luego ser sellado con una virola de alpaca cincelada. Todos los materiales así como el proceso de producción son sumamente detallados. Ideal para hacerte de un producto que te va a durar toda la vida.</p>
                        </div>
                        <div class="cuidados"><h4>Cuidados</h4></div>
                        <div class="lavado"> <p>Enjuagar con agua y secar después de utilizar para mantenerlo en buen estado.</p></div>
                        <div class="eg"><h4>Especificaciones generales</h4></div>
                        <div class="curación"><p>Requiere ser curado antes de utilizar por primera vez.</p></div>
                        <div class="bombilla"><p>No incluye bombilla</p></div>
                     </div>
                    
                </div>
                <div class="comentario">
                    <label for="comentario"></label>
                    <textarea name="comentario" id="comentario" cols="30" rows="10" placeholder="Dejá tu comentario"></textarea>
                    <button type="enviar"><i class="fas fa-chevron-right"></i></button>
                </div>
                <div class="cajón">
                    <div class="coment1">
                        <span class="rating">★★★★☆</span>
                        <p>Exelente producto, de muy buen material.</p>
                    </div>
                    <div class="coment2">
                        <span class="rating">★★★★☆</span>
                        <p>Compré un "combo Matear" de termo, bombilla y mate. La verdad quedé maravillada por los productos, que son muy buenos y están a un precio muy accesible</p></div>
                    <div class="coment3">
                        <span class="rating">★★★★☆</span>
                        <p>Compré ya varios mates, me encantan, el sabor se mantiene y la calidad es única</p></div>
                  </div>
                <div class="similares"><h4>Similares</h4></div>
                <div class="carrusel">
                    <div><img src="/images/ceramico-galaxia.jpg" alt=""></div>
                   <div> <img src="/images/mate-camionero.jpg" alt=""></div>
                   <div><img src="/images/mate-torpedo.jpg" alt=""></div>
                   <div><img src="/images/mate-ceramico.jpg" alt=""></div>
                </div>
            </div>
        </article>
    </main>
    <footer class="home">
        <section>
            <Article>
                <div class="icon-footer"><i class="fas fa-credit-card"></i><i class="fab fa-cc-visa"></i><i class="fab fa-cc-mastercard"></i><i class="fab fa-cc-amex"></i></div>
                <h4>Pagà con tarjeta o en efectivo</h4>
                <p>En MateAR, podes pagar con tarjeta o efectivo. ¡Y siempre es seguro!</p>
            </Article>
        </section>
        <section>
            <article>
                <div class="icon-footer"><i class="fas fa-shopping-basket"></i></div>
                <h4>Servicio de Envìos.</h4>
                <p>Envios a cualquier parte del pais.
                </p>
            </article>
        </section>
        <section>
            <article>
                <div class="icon-footer"><i class="fas fa-user-shield"></i></div>
                <h4>Seguridad, ante todo.</h4>
                <p>Compra segura y protegida.
                </p>
            </article>
        </section>
        <section>
            <article>
                <div class="suscripcion">
                    <input type="search" name="" id="" placeholder="Escribe tu email" >
                    <button type="submit">Suscribete</button>
                </div>
            </article>
        </section>
        <section>
            <article>
                <nav class="icon-footer-redes">
                    <a href=""><i class="fab fa-twitter"></i></a>
                    <a href=""><i class="fab fa-facebook-square"></i></a>
                    <a href=""><i class="fab fa-spotify"></i></a>
                    <a href=""><i class="fab fa-apple"></i></a>
                </nav>
            </article>
        </section>
        <section>
            <article class="copyright"> 
                <p>Copyright &copy;  2021 MateAR.</p>
            </article>
        </section>
    </footer>    
</body>
</html>