<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <a href="https://icons8.com/icon/17949/google"></a>
    <script src="https://kit.fontawesome.com/4660c56b26.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/styles.css">
    <title>Registro</title>
</head>
<body class="body-register">
    <header>
        <div class="logo-cuenta-search">
            <img src="matear.png"  alt="Logo personal">
          <div class="cuenta-search">  
              <nav class="menu-home">
                  <ul>
                      <li><a href="/register">Crear cuenta</a></a></li>
                      <li><a href="/login">Iniciar Session</a></li>
                  </ul>
              </nav>
              <div class="search">
                  <input type="search" name="" id="" placeholder="Buscar productos" ><button type="submit"><i class="fas fa-search"></i></button>
                </div>
            </div>
          </div>
          <nav class="menu-desplegable">
              <div class="burger-menu">
                  <input type="checkbox" name="" id="menu">
                  <label for="menu"><i class="fas fa-bars"></i></label>
                  <ul>
                      <li><a href="/">Home</a></li>
                      <li><a href="/login">Iniciar Session</a></li>
                      <li><a href="/register">Crear cuenta</a></li>
                      <li><a href="/productcart">Carrito de compras</a></li>
                      <li><a href="/productdetail">Detalles de Productos</a></li>
                  </ul>
              </div>
              <a class="shopping" href="#">
                  <i class="fas fa-shopping-cart"></i>
                  <span class="cantidad">0</span>
              </a>
          </nav>
    </header>

    <main class="main-register">
        <div class="registrate-con">
            <h2>Registrate con</h2>        
            <form class="redes" action="/register" method="POST">
                <div class="google">
                    <button type="submit"><img src="https://img.icons8.com/color/48/000000/google-logo.png"/>Google</button>
                </div>
                <div class="facebook">
                 <button type="submit"><i class="fab fa-facebook-square"></i>Facebook</button>
                </div>
            </form>
        </div>
        
        
        <h2 class="completa">O completa tus datos</h2>
        <form action="/register" method="POST">
            <div class="datos">
                <div class="linea1-2">
                    <div class="linea1">
                        <div class="nombre">
                            <label>Nombre</label>
                            <input type="text" name="nombre">
                        </div>
                        <div class="apellido">
                            <label>Apellido</label>
                            <input type="text" name="apellido">
                        </div>
                    </div>
                    <div class="linea2">
                        <div class="genero">
                            <label>Genero</label>
                            <select name="genero">
                                <option>Seleccione</option>
                                <option value="femenino">Femenino</option>
                                <option value="masculino">Masculino</option>
                                <option value="Otro">Otro</option>
                            </select>
                        </div>
                        <div class="nacimiento">
                            <label>Fecha de nacimiento</label>
                            <input type="date" name="nacimiento" max="2010-12-31">
                        </div>                    
                    </div>
                </div>
                
                <div class="linea3">
                    <div class="email">
                        <label>Email*</label>
                        <input type="email" name="email">
                    </div>
                    <div class="telefono">
                        <label>Teléfono (opcional)</label>
                        <input type="text" name="telefono">
                    </div>
                    
                </div>
                <div class="linea4">
                    <div class="password">
                        <label>Contraseña*</label>
                        <div class="pass">
                            <input type="password" name="password">
                            <i class="far fa-eye-slash"></i>  
                        </div>
                        
                        <p>La contraseña debe tener como mínimo 6 caracteres</p>
                    </div>
                    <div class="repetirPass">
                        <label>Repetir contraseña*</label>
                        <div class="repeat">
                            <input type="password" name="repitpass">
                            <i class="far fa-eye-slash"></i>
                        </div>
                          
                        <p>(*) Campos obligatorios</p>
                    </div>
                </div>
                
                <div class="crear">
                    <button type="submit">CREAR CUENTA</button>
                </div>
            </div>
        
        </form>
    </main>
    <footer>
        <section>
            <Article>
                <div class="icon-footer"><i class="fas fa-credit-card"></i><i class="fab fa-cc-visa"></i><i class="fab fa-cc-mastercard"></i><i class="fab fa-cc-amex"></i></div>
                <h4>Pagà con tarjeta o en efectivo</h4>
                <p>En MateAR, podes pagar con tarjeta o efectivo. ¡Y siempre es seguro!</p>
            </Article>
        </section>
        <section>
            <article>
                <div class="icon-footer"><i class="fas fa-shopping-basket"></i></div>
                <h4>Servicio de Envìos.</h4>
                <p>Envios a cualquier parte del pais.
                </p>
            </article>
        </section>
        <section>
            <article>
                <div class="icon-footer"><i class="fas fa-user-shield"></i></div>
                <h4>Seguridad, ante todo.</h4>
                <p>Compra segura y protegida.
                </p>
            </article>
        </section>
        <section>
            <article>
                <div class="suscripcion">
                    <input type="search" name="" id="" placeholder="Escribe tu email" >
                    <button type="submit">Suscribete</button>
                </div>
            </article>
        </section>
        <section>
            <article>
                <nav class="icon-footer-redes">
                    <a href=""><i class="fab fa-twitter"></i></a>
                    <a href=""><i class="fab fa-facebook-square"></i></a>
                    <a href=""><i class="fab fa-spotify"></i></a>
                    <a href=""><i class="fab fa-apple"></i></a>
                </nav>
            </article>
        </section>
        <section>
            <article class="copyright"> 
                <p>Copyright &copy;  2021 MateAR.</p>
            </article>
        </section>
</footer>    
</body>
</html>