*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.body-admin{
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #ebebeb;
}

.body-admin .admin{
    text-align: center;
    padding: 40px;
  
    
}

.body-admin .admin h1{
    padding: 25px;
   font-size: 20px;;
}

.body-admin .admin input{
    background-color: var(--black);
    box-shadow: 0 5px 10px -7px #333333;
    margin: 1px 0;
}

::placeholder{
    color: white;
}

.body-admin .admin textarea{
    border: 1px solid black;
}


.body-admin .admin textarea::placeholder{
    color: black;
}

.body-admin .admin select{
    margin: 1px 0;
    background-color: var(--black);
    color: white
}
.body-admin .admin button{
    margin: 1px 0;
    background-color: var(--black);
    color: white;
    border: white solid 1px;
}

/*Tablet*/
@media(min-width:481px){
    .body-admin .admin input{
        font-size: 18px;
    }
}


@media (min-width: 900px){

    .body-admin .admin input{
        font-size: 25px;
    }

    .body-admin .admin button{
        width: 40%;
        height: 40%;
    }

    .body-admin .admin button:hover{
        background-color:  var(--green);
    } 

    .body-admin .admin input:hover{
        background-color:  var(--green);
    } 

    .body-admin .admin option{
        font-size: 25px;
    }
    
    .body-admin .admin option:hover{
        background-color: var(--green);
    }

    .body-admin .admin textarea{
        font-size: 23px;
    }

    .body-admin .admin .file label{
        font-size: 20px;
    }

    .body-admin .admin .file input{
        font-size: 10px;
    }

}