 .contact{
     font-family: 'Nunito', sans-serif;
     background-image: url(../images/images.jpg);
     margin: 0;
     background-attachment: fixed;
     }
     main form{
        width : 75%;
        margin: auto;
        background-color: rgba(0,0,0, 0.4);
        padding: 10px 20px;
        box-sizing: border-box;
        margin-top: 20px;
        border-radius: 7px;
    }
    
    main h2{ 
        color: #27ae60;
        text-align: center;
        margin: 0;
        font-size: 30px;
        margin-bottom: 10px;
    }
    
    main {
    width: 100%;
    margin-bottom: 20px;
    padding: 7px;
    box-sizing: border-box;
    font-size: 17px;
    border: none;
    }
    main input{
        width: 100%;
        margin-bottom: 22px;
        margin-top: 15px;
        padding: 7px;
        font-size: 17px;   
        border-radius: 10px;
    }
    textarea{
        min-height:100px;
        max-height: 200px;
        max-width: 100%;
        width: 100%; 
    }
    #boton{
        background: #071025;
        color:#27ae60;
        padding: 20px;
       
    }
    #boton:hover{
    cursor: pointer;
    }

    /* media queries  */
    @media (max-width:768px){
        form{
            width: 150%;
        }
    }
    
    @media (max-width:991px){
      form{
          width:220%
      }
    }
    
    
