.order form {
    max-width: 90rem;
    border-radius: .5rem;
    box-shadow: var(--box-shadow);
    border: .1rem solid rgba(0, 0, 0, .2);
    background: #fff;
    padding: 1.5rem;
    margin: 0 auto;
}

.order form .inputBox {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.order form .inputBox .input, .order form .inputBox .select {
    width: 49%;
}

.order form .inputBox .input span {
    display: block;
    padding: 2rem 0;
    font-size: 1.5rem;
    color: var(--light);
}

.order form .inputBox .input input, .order form .inputBox .select select

.order form .inputBox .input textarea {
    background: #eee;
    border-radius: .5rem;
    padding: 1rem;
    font-size: 1.6rem;
    color: var(--black);
    text-transform: none;
    margin-bottom: 1rem;
    width: 100%;
}

.order form .inputBox .input input:focus, 
.order form .inputBox .input textarea:focus {
    border: 1rem solid var(--green);
}

.order form .inputBox .input textarea {
    height: auto;
    resize: none;
}

.order form .btn {
    margin-top: 0;
}
    


.order form .inputBox .form .select {
  margin:20px auto 40px auto;	
  border:1px solid #d9d9d9;
  height:30px;
  overflow: hidden;
  width: 230px;
  position:relative;
}
.order form .inputBox .select .seleccionar {
  background: transparent;
  border: none;
  font-size: 14px;
  height: 30px;
  padding: 5px;
  width: 250px;
  background: #a6aab1;
}
.order form .inputBox .select .seleccionar:focus{ outline: none;}
.order form .inputBox .select::after{
 content:"\025be";
 display:table-cell;
 padding-top:7px;
 text-align:center;
 width:30px;
 height:30px;
 background-color:#d9d9d9;
 position:absolute;
 top:0;
 right:0px;	
 pointer-events: none;
}

.order form .inputBox .image {
    margin: 50px auto 10px;
    border-radius: var(--defaultBorderRadius);
    width: 420px;
    height: auto;
    text-align: center;    
}

.order form .inputBox .image #image {
    border-radius: 50%;
    max-width: 120px;
    border-radius: 50%;
    background: var(--blueGradient);
    padding: 0.16em;
    margin-top: -50px;
}

/* media queries  */

@media (max-width:991px){

    html{
        font-size: 55%;
    }

    header{
        padding:1rem 2rem;
    }

    section{
        padding:2rem;
    }


}

@media (max-width:768px){

    header .icons #menu-bars{
        display: inline-block;
    }

    header .navbar{
        position: absolute;
        top:100%; left:0; right:0;
        background:#fff;
        border-top: .1rem solid rgba(0,0,0,.2);
        border-bottom: .1rem solid rgba(0,0,0,.2);
        padding:1rem;
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }

    header .navbar.active{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }

    header .navbar a{
        display: block;
        padding:1.5rem;
        margin:1rem;
        font-size: 2rem;
        background:#eee;
    }

    #search-form #search-box{
        width:90%;
        margin:0 1rem;
    }

    .home .home-slider .slide .content h3{
        font-size: 5rem;
    }

}

@media (max-width:450px){

    html{
        font-size: 50%;
    }

    .dishes .box-container .box img{
        height:auto;
        width: 100%;
    }

    .order form .inputBox .input{
        width:100%;
    }

}