

/* ――― VARIABLES ―――――――――――――――*/
:root {
    --defaultBorderRadius: 5px;
    --defaultPadding: 25px;
    
    --lightBlue: #1dcdfa;
    --mediumBlue: #0270d8;
    --blueGradient: linear-gradient(to right, $mediumBlue, $lightBlue);
    
    --darkGrey: #2c3039;
    --mediumGrey: #393e4a;
    --lightGrey: #788192;
    
    }
    
    #profile {
        color: black;
    }
    
    /* ――― USER-PROFILE ―――――――――――――――*/
    
    #profile #user {
        margin: 50px auto 10px;
        background: #fff;
        box-shadow: -1px 1px 3px 0px rgba(0,0,0,0.20);
        border: .1rem solid rgba(0,0,0,.2);
        border-radius: .5rem;
        width: 420px;
        height: auto;
        margin-bottom: .5%;
        text-align: center;
        position: relative;
        font-size: 1.2rem;
    }	
        
    #profile #user i.fa-gear {
        position: absolute;
        border-radius: var(--defaultBorderRadius);
        top: 15px;
        right: 15px;
        font-size: 1.8em;
        color: #1d2026;
        transition: color 0.2s ease-in-out;
    }
            
    #profile #user i.fa-gear:hover {
        color: var(--mediumBlue);
        cursor: pointer;
    }
    
    #profile #user #avatar {
        border-radius: 50%;
        max-width: 120px;
        border-radius: 50%;
        background: var(--blueGradient);
        padding: 0.16em;
        margin-top: -50px;
    }
    
    #profile #user #main {
        padding: 10px var(--defaultPadding) var(--defaultPadding);
    } 
        
    #profile #user #main h3 {
            font-weight: normal;
            font-size: 2.3em;
            margin-bottom: 1px;
        }
    
    #profile #user #main p {
            color: var(--lightGrey);
            font-size: 1.1em;
        }
    
    
    #profile #user #level {
        margin-bottom: -15px;
    }
        
    #profile #user #lavel p {
            background: var(--mediumBlue);
            padding: 5px 10px;
            border-radius: var(--defaultBorderRadius);
            font-size: 4.85em;
    }
    
    
    #profile #user #information {
        padding: var(--defaultPadding);
        border-radius: 50% 50% 5px 5px / 5px 5px;
    }
    
    #profile #user #information #stats {
        display: flex;
        justify-content: center;
        margin-top: 5px;
    }
        
    #profile #user #information #stats > div:not(:first-child) {
            margin-left: 25px;
        }
        
    #profile #user #information #stats h4 {
            font-size: 1.9em;
            font-weight: normal;
        }
        
    #profile #user #information #stats p {
            text-transform: var(--uppercase);
            color: var(--lightBlue);
            font-weight: 600;
        }
    
    #profile #user #information #description {
        font-size: 1.2rem;
        margin: 25px 0;
    }
    
    #profile #user #information #actions {
        display: flex;
        justify-content: space-around;
    }
    
    
    
    #profile #user #actions .actions .btn:hover{
        color: white;
        background-color: darkorange;
    }

/* media queries  */

@media (max-width:991px){

    html{
        font-size: 55%;
    }

    header{
        padding:1rem 2rem;
    }

    section{
        padding:2rem;
    }


}

@media (max-width:768px){

    header .icons #menu-bars{
        display: inline-block;
    }

    header .navbar{
        position: absolute;
        top:100%; left:0; right:0;
        background:#fff;
        border-top: .1rem solid rgba(0,0,0,.2);
        border-bottom: .1rem solid rgba(0,0,0,.2);
        padding:1rem;
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }

    header .navbar.active{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }

    header .navbar a{
        display: block;
        padding:1.5rem;
        margin:1rem;
        font-size: 2rem;
        background:#eee;
    }

    #search-form #search-box{
        width:90%;
        margin:0 1rem;
    }

    .home .home-slider .slide .content h3{
        font-size: 5rem;
    }

}

@media (max-width:450px){

    html{
        font-size: 50%;
    }

    .dishes .box-container .box img{
        height:auto;
        width: 100%;
    }

    .order form .inputBox .input{
        width:100%;
    }

}

