*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.body-pd  {
    width: 100%;
    background-color: #ebebeb;
   
}

.body-pd .main-pd{
    display: flex;
    align-items: center;
    margin: 10px;
   
}

.body-pd .menu{
    display: flex;
    flex-direction: column;
}

.body-pd .menu .producto{
    width: 100%;
    height: auto;
}

.body-pd .menu .producto img{
    width: 100%;
    height: 420px;
    object-fit: contain;
    padding: 2px;
}

.body-pd .menu .price{
   display: flex;
   flex-wrap: wrap;
}

.body-pd .menu .precio{
    font-size: 23px;
    padding: 1px;
    width: 60px;
    margin: 5px;
    color: var(--green);
}

.body-pd .menu .mate{
    font-size: 20px;
    padding: 1px;
    font-family: var(--font-family);
    margin: 5px;
    color: white;
}

.body-pd .menu .off{
    margin: 10px;
    border-right-width: 20%;
    background-color: var(--black);;
    font-family: var(--font-family);
    border-radius: 8px;
}

.body-pd .menu .box{
    display: flex;
    flex-wrap: wrap;
    padding: 5px;
    align-items: center;
    position: relative;
}

.body-pd .menu .box2{
    display: flex;
    flex-wrap: wrap;
   justify-content: space-around;
}

.body-pd .menu .oferta{
    font-size: 12px; 
    font-family: var(--font-family);
    color: white;
    padding: 15px;
    border: solid 1px white;
    background-color:  var(--green);
    border-radius: 10px;
    height: 10px;
    position: relative;
    animation: oferta 2s infinite;
    bottom: -100px;
}

@keyframes oferta {
    0%{ opacity: 90%;}
    25%{ transform: translateY(5%); opacity: 100%;}
    100%{ opacity: 90%;}
}

.body-pd .menu .color{
   font-size: 12px;
   display: flex;
   flex-wrap: wrap;
   font-family: var(--font-family);
   margin: 1px;
}

.body-pd .menu .color select{
    font-size:1em;
    border-radius: 10px;
}

.body-pd .menu .detalle{
  margin: 1px;
  font-size: 1em;
}

.body-pd .menu .detalle .info-product{
    font-size: 1rem;
    margin: 10px;
    text-align: justify;
    padding: 5px; 
    
    font-family: var(--font-family);
}

.body-pd .menu .carrito button{
    border-radius: 10px;
    border: var(--black) 2px solid;
}

.body-pd .menu section article .similares{
    display: flex;
    flex-direction: row;
    width: 100%
}

.body-pd .menu section article .similares img{
    
}

/*Tablet*/
@media(min-width:481px) {
    .home .menu .producto img{
      width: 650px;
      height: 650px;
      margin: 2px;
    }
  
    
    
}


/* Descktop*/
@media(min-width:900px){

    .body-pd .menu .oferta{
        bottom: -30px;
    }

    .body-pd .menu .producto{
        box-shadow: none;
    }


   .body-pd .menu .contenedor{
       display: flex;
       flex-wrap: wrap;
   }

   .body-pd .menu .producto img{
    width: 35%;
    height: auto;
    border-radius: 10PX;
}

.body-pd .menu .caja{
    width: 50%;
    position: relative;
    left: 40%;
    margin-top: -30%;
    padding: 5px;
}




.body-pd .menu .detalle{
    position: relative;
    font-size: 30px;
}

.body-pd .menu .precio{
    font-size: 35px;
}

.body-pd .menu .mate{
    font-size: 30px;
}

.body-pd .menu .box2{
    position: relative;
    bottom: -50px;
}

.body-pd .menu .box2 select{
    background-color: var(--black);
    color: white;
    font-size: 20px;
}

.body-pd .menu .box2 select:hover{
    background-color: var(--green);
    border: 2px solid var(--black);
}


.body-pd .menu .box2 button{
    background-color: var(--black);
    color: white;
    font-size: 20px;
}

.body-pd .menu .box2 button:hover{
    background-color: var(--green)
}




}


