
<<<<<<< HEAD
.main-pd{
=======
  .body-pd{
>>>>>>> develop
    width: 100%;
    background-color: #ebebeb;
}

<<<<<<< HEAD
.main-pd .main-pd{
=======
.body-pd .main-pd{
>>>>>>> develop
    display: flex;
    align-items: center;
    width: 90%;
    margin: 20px;
}

<<<<<<< HEAD
.main-pd .menu{
=======
.body-pd .menu{
>>>>>>> develop
    display: flex;
    flex-direction: column;
}

<<<<<<< HEAD
.main-pd .menu h1{
=======
.body-pd .menu h1{
>>>>>>> develop
    font-size: 20px;
    width: 35%;
    border: solid 1px white;
    font-family: var(--font-family);
    background-color: #666;
}

<<<<<<< HEAD
.main-pd .menu .producto img{
=======
.body-pd .menu .producto img{
>>>>>>> develop
    width: 100%;
    height: 420px;
    object-fit: contain;
    border: 2px solid white;
    padding: 2px;
}

<<<<<<< HEAD
.main-pd .menu .precio{
    font-size: 25px;
    position: relative;
    top: -35px;
    color: #ebebeb;
    font-family: var(--font-family);
}

.main-pd .menu .mate{
    font-size: 20px;
    padding: 1px;
    font-family: var(--font-family);
    margin: 5px;
}

.main-pd .menu .off{
=======
.body-pd .menu .precio{
    font-size: 25px;
    position: relative;
    top: -35px;
    color: #666
}

.body-pd .menu .off{
>>>>>>> develop
    border: #ebebeb solid 1px;
    margin: 10px;
    border-right-width: 20%;
    background-color: #ebebeb;
    font-family: var(--font-family);
}

<<<<<<< HEAD
.main-pd .menu .box{
=======
.body-pd .menu .box{
>>>>>>> develop
    display: flex;
    flex-wrap: wrap;
    padding: 5px;
    align-items: center;
}

<<<<<<< HEAD
.main-pd .menu .descuento{
=======
.body-pd .menu .descuento{
>>>>>>> develop
    font-size: 18px;
    color:#7e7b7b;
    font-family: var(--font-family);
}

<<<<<<< HEAD
.main-pd .menu .oferta{
=======
.body-pd .menu .oferta{
>>>>>>> develop
    font-size: 20px; 
    font-family: var(--font-family);
}

<<<<<<< HEAD
@keyframes oferta {
    0%{ opacity: 90%;}
    25%{ transform: translateY(5%); opacity: 100%;}
    100%{ opacity: 90%;}
}

.main-pd .menu .color{
=======
.body-pd .menu .color{
>>>>>>> develop
   font-size: 12px;
   display: flex;
   flex-wrap: wrap;
   font-family: var(--font-family);
   margin: 1px;
}

<<<<<<< HEAD
.main-pd .menu .detalle{
  margin: 1px;
}

.main-pd .menu .detalle .info-product{
=======
.body-pd .menu .detalle{
  margin: 1px;
}

.body-pd .menu .detalle .info-product{
>>>>>>> develop
    font-size: 1rem;
    margin: 10px;
    text-align: justify;
    padding: 5px; 
    font-family: var(--font-family);
}

<<<<<<< HEAD
.main-pd .menu .detalle .cuidados{
    font-size: 18px;
    padding: 1px;
    margin: 10px;
    text-align: justify; 
     
    font-family: var(--font-family);
}

.main-pd .menu .detalle .lavado{
    font-size: 1rem;
    padding: 1px;
    margin: 10px;
    text-align: justify;
    
    font-family: var(--font-family);  
}

.main-pd .menu .detalle .eg{
=======
.body-pd .menu .detalle .eg{
>>>>>>> develop
    font-size: 18px;
    padding: 1px;
    margin: 10px;
    text-align: justify;
    font-family: var(--font-family);    
}

<<<<<<< HEAD
.main-pd .menu .detalle .curación{
    font-size: 1rem;
    padding: 5px;
    margin: 10px;
    text-align: justify;
     
    font-family: var(--font-family); 
}

.main-pd .menu .detalle .bombilla{
    font-size: 1rem;
    padding: 5px;
    margin: 10px;
    text-align: justify;  
      
=======
.body-pd .menu .carrito{
  padding: 10px;
  font-size: 15px;
  background-color: rgb(110, 56, 17);
  border-radius: 6px;
  border: white solid 2px;
  width: 60%;
  text-align: center;
  position: relative;
  left: 15%;
}

.body-pd .menu .botón a{
    text-decoration: none;
>>>>>>> develop
    font-family: var(--font-family);
}

.body-pd .menu .comentario{
    text-align: center;
    padding: 20px;
}

.body-pd .menu .comentario textarea{
    width: 50%;
    height: 30px
}

/*Tablet*/
@media(min-width:768px) {
    .body-pd .menu .producto img{
      width: 650px;
      height: 650px;
      margin: 2px;
    }

    .body-pd .menu .carrusel img{
        width: 150px;
        height: 150px;
        margin: 5px;
        border: white 1px solid;
        text-align: center;
    }
    
    
}

@media(min-width:1024px){

    .body-pd .menu h1{
        width: 46%;
    }


   .body-pd .menu .contenedor{
       display: flex;
       flex-wrap: wrap;
   }

   .body-pd .menu .producto img{
    width: 50%;
    height: auto;
}

.body-pd .menu .caja{
    width: 50%;
    position: relative;
    left: 50%;
    margin-top: -40%;
    padding: 5px;
}

.body-pd .menu .precio{
    font-size: 35px;
}

.body-pd .menu .mate{
    font-size: 30px;
}

.body-pd .menu .detalle .cuidados{
    font-size: 20px;
}

.body-pd .menu .detalle .cuidados{
    font-size: 20px;
}

.body-pd .menu .detalle .eg{
    font-size: 20px;
}

.body-pd .menu .carrusel img{
    width: 280px;
    height: 280px;
    padding: 10px;
    margin: 5px;
    text-align: center;
}

.body-pd .menu .carrusel :hover img{
    width: 400px;
    height: 400px;
}

.body-pd .menu .similares h4{
    font-size: 30px;
}

.body-pd .menu .comentario textarea{
    width: 50%;
    height: 50%;
}

.body-pd .menu .comentario button{
    width: 50%;
    height: 30px;
    border-radius: 30px;
    background-color: white;
    text-align: center;
}

}
